
body {
    font-size: 12px;
    background: linear-gradient(rgba(141, 141, 172, .7) .1em, transparent .1em),
    linear-gradient(90deg, rgba(141, 141, 172, .7) .1em, transparent .1em);
    background-size: 2em 2em;
    height: 100vh;
    background-color: teal;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, button {
    color: #ffffff;
}

p {
    font-size: 8px;
}

#game-display {
    height: 80vh;
    display: block;
}

#game-display .top-layer, .bottom-layer{
    opacity: 0.8;
}


.top-layer, .middle-layer, .bottom-layer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.top-layer > *{
    border: groove;
    width: 50%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.35) 88%);
}

.middle-layer {
    display: flex;
    flex-direction: column;
    overflow: visible;
    border: groove;
    position: relative;
    background: url('/resources/images/background.png');
    background-size: 100%;
    background-repeat: repeat-x;
}

.stat-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-display > *{
    min-width: 35%;
    text-align: left;
    margin-top: 6px;
    border-radius: 12px;
}

.stat-display > .left-display {
    border: solid 2px #7e2814;
    margin-left: 15px;
    background: linear-gradient(180deg, rgba(169,33,0,1) 0%, rgb(68, 14, 0, 1) 50%, rgba(169,33,0,1) 90%);
}

.stat-display > .right-display {
    border: solid 2px #004992;
    margin-right: 15px;
    background: linear-gradient(180deg, rgba(0,13,238,0.9) 0%, rgba(0, 0, 68, 0.9) 50%, rgba(0,13,238,0.9) 90%);
}

.sprite-overlay > *{
    position: relative;
}

#left-sprite{
    top: 50px;
    right: 10vw;
}

#right-sprite{
    top: 50px;
    left: 10vw;
}

.bottom-layer > *{
    border: groove;
    width: 33.3%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.35) 88%);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}